<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container navigation"></div>
  <div class="ui text game container">
    <h1 class="ui inverted header">Contre Chesss</h1>
    <h2>Play chess for Bitcoin, Bitcoin Cash, Dash, Ethereum, Litecoin, Monero or Zcash.</h2>
    <button class="play ui right labeled icon huge primary button">Go Play!<i class="right arrow icon"></i></button>
  </div>
</div>

