<div class="ui large secondary inverted pointing menu">
  <a class="toc item">
    <i class="sidebar icon"></i>
  </a>
  <a class="active item" href="#home">Home</a>
  <a class="item">Play</a>
  <a class="item">Coming Soon...</a>
  <div class="right item identity display"></div>
</div>
