<div class="ui container">
  <div class="ui stackable inverted divided equal height stackable grid">
    <div class="three wide column">
      <h4 class="ui inverted header">About</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">Meet the Coders</a>
        <a href="#" class="item">FAQ</a>
        <a href="#" class="item">Sitemap</a>
        <a href="#" class="item">Contact</a>
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui inverted header">Services</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">Play Chess</a>
        <a href="#" class="item">Game Play Arbitration</a>
      </div>
    </div>
    <div class="seven wide column">
      <h4 class="ui inverted header">Footer Header</h4>
      <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
    </div>
  </div>
</div>

