<section id="root-layout">
  <div class="header navigation"></div>
  <main>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container navigation"></div>
      <div class="ui text container">
        <h1 class="ui inverted header">
          Contre Chesss
        </h1>
        <h2>Play chess, for Bitcoin or Litecoin.</h2>
        <div class="ui huge primary button"><a href="#play">Go Play! </a><i class="right arrow icon"></i></div>
      </div>
    </div>
  </main>
  <div class="ui inverted vertical footer segment">
      </div>
</section>

