  <!--
    nickname
    hidden identifier
    ranking
  -->
<div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <span>Ranking: </span>
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
