<div class="ui basic segment">
  <h3 class="ui top attached header">natus error</h3>
  <div class="ui raised attached segment">
    <div class="ui three stackable cards">
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i> <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
      <div class="card">
        <div class="ui image">
          <img src="images/steve.jpg">
        </div>
        <div class="content">
          <div class="header">voluptate</div>
          <div class="description">
            <span>Rating: 900</span>
            <div class="player ui star rating" data-rating="3"></div>
          </div>
          <div class="meta">Created in April 2017</div>
        </div>
        <div class="ui bottom attached button">
          <i class="plus icon"></i>
          <span>Play Me</span>
        </div>
      </div>
    </div>
  </div>

  <div class="player ui raised segment">
    <div class="active title">voluptate velit e</div>
    <div class="active content"><p>lorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae c</p></div>
  </div>

  <div class="player ui raised segment">
    <div class="active title">neque porro q</div>
    <div class="active content"><p>omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,</p></div>
  </div>

  <div class="player ui raised segment">
    <div class="active title">neque porro quisquam e</div>
    <div class="active content"><p>accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi u</p></div>
  </div>
</div>
