<form class="ui form key-management" action="">
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <div class="field">
          <label>Private key</label>
          <textarea name="privatekey" rows="4"></textarea>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label>Choose File</label>
          <input type="file" name="keyfile">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="field">
          <label>Passphrase</label>
          <input name="passphrase" type="password" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <button class="ui fluid labeled icon button load">Load</button>
      </div>
    </div>
  </div>
</form>
