<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="images/game.svg" class="image" style="width: 60px; height: 60px" alt="logo">
      <div class="content">Create account</div>
    </h2>
    <div class="ui hidden right dividing rail">
      <div class="ui cards">
        <div class="card">
          <div class="content"><span>Public</span></div>
          <div class="ui image medium">
            <img class="signup public btc key" alt="public btc key" />
          </div>
        </div>
        <div class="card">
          <div class="content"><span>Private</span></div>
          <div class="ui image medium">
            <img class="signup private btc key" alt="private btc key wif formatted" />
          </div>
        </div>

      </div>
    </div>
    <form id="signupform" class="ui large form">
      <div class="ui stacked segment">
        <input type="hidden" name="auth" />
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon">&nbsp;</i>
            <label>Name</label><!--Name label might not be needed with an icon-->
            <input type="text" name="name" placeholder="Name" />
          </div>
        </div>
        <div class="field">
          <label>publickey</label>
          <textarea name="pgppublickeyarmored" rows="4"></textarea>
          <div class="ui message">
            <div class="header">PGP Keys</div>
            <p>Don't have a PGP key yet? We can create one for you.</p>
            <button class="ui labeled icon button create key">
              <i class="spy icon">&nbsp;</i>
              Create Key
            </button>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon">&nbsp;</i>
            <input type="text" name="bitmessage-address" placeholder="BM-*" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon">&nbsp;</i>
            <input type="text" name="email" placeholder="E-mail address" />
          </div>
        </div>
        <button class="ui fluid large teal submit button">Sign up</button>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
